.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  width:50%;
  margin:auto;
  overflow: hidden;
  padding-top: 150px;
  
}


input {
  border-color: rgb(127, 87, 236);
  border-radius: 5px;
  width:  250px;
  height: 35px;
  color: rgb(116, 112, 112);
  font-family: Arial; 
}


button {
  background-color:rgb(127, 87, 236) ;
  border-color: rgb(127, 87, 236);
  border-radius: 5px;
  border-style: solid;
  width: 35px;
  height: 35px;
  display: block;
  color: white;
  justify-content: center;
  text-align: center;
}


span {
 
  font-size: 30px;
  text-align: center;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
